#hero {
  background-image: linear-gradient(
      to right bottom,
      rgba($base_bg, 0.6),
      rgba($base_bg, 0.9)
    ),
    url(../../images/homepage_bg_mobile.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 6px;
  height: 50rem;

  // desktop size media queries at 700px
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right bottom,
        rgba($base_bg, 0.6),
        rgba($base_bg, 0.9)
      ),
      url(../../images/homepage_bg.jpg);
    height: 100vh;
  }

  h3 {
    font-size: 2.7rem;

    // mobile LANDSCAPE media queries
    @media screen and (min-device-width: 320px) and (orientation: landscape) {
      font-size: 1.4rem;
    }

    // tablet size media queries at 700px
    @media screen and (min-width: 700px) {
      font-size: 2.4rem;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      font-size: 4.5rem;
    }
  }

  &__logo {
    width: 46%;
    display: block;
    position: relative;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;

    @media screen and (min-device-width: 320px) and (orientation: landscape) {
      width: 25%;
      top: 2rem;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      width: 36%;
      top: 2rem;;
    }
  }

  &__text-box {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid $color_black;

    // mobile LANDSCAPE media queries
    @media screen and (min-device-width: 320px) and (orientation: landscape) {
      top: 65%;
    }

    // tablet size media queries at 700px
    @media screen and (min-width: 700px) {
      top: 40%;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      top: 64%;
      border-bottom: 6px solid $color_black;
      
    }

    span {
      margin-right: 0.6rem;
    }
    span:nth-child(1) {animation: hero 6s;}
    span:nth-child(2) {animation: hero 6s;}
    span:nth-child(3) {animation: hero 9s;}
    span:nth-child(4) {animation: hero 9s;}
    
    span:last-child {
      margin-right: 0;
    }
  }

  &__intro {
    color: $dark_text_color;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);

    // tablet size media queries at 700px
    @media screen and (min-width: 700px) {
      top: 45%;
    }

    // Tablet LANDSCAPE media queries
    @media screen and (min-device-width: 700px) and (orientation: landscape) {
      top: 50%;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      top: 77%;
    }

    p {
      margin-top: 2rem;

      // Tablet LANDSCAPE media queries
      @media screen and (min-device-width: 700px) and (orientation: landscape) {
        font-size: 1.4rem;
      }

      // desktop size media queries at 700px
      @media screen and (min-width: 1200px) {
        font-size: 1.8rem;
      }
    }
  }
}
